/* Global css */

/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
  url('fonts/noto-sans-v9-latin/noto-sans-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/noto-sans-v9-latin/noto-sans-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
  url('fonts/noto-sans-v9-latin/noto-sans-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/noto-sans-v9-latin/noto-sans-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
  url('fonts/noto-sans-v9-latin/noto-sans-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/noto-sans-v9-latin/noto-sans-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
  url('fonts/noto-sans-v9-latin/noto-sans-v9-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/noto-sans-v9-latin/noto-sans-v9-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/*
    Caveats: media queries can't handle vars
    postcss option is passed and allows it but it doesn't work in styled-components
    So for media queries, we use breakpoints.tsx
*/

:root {
  /*
      COLORS
  */

  /* Definitions */
  --blue: #162993;
  --blue2: #101e68;
  --orange: #eb8e21;
  --orange2: #d97c0e;
  --yellow: #DBA528;
  --yellow2: #a17a1f;
  --red: #e24335;
  --red2: #b1352a;
  --green: #399355;
  --green2: #255e37;

  --green-gradient-a: #52B576;
  --green-gradient-b: #203B0C;

  --white: #fff;
  --gray-lightest: #eee;
  --gray-light: #ccc;
  --gray: #666;
  --gray-dark: #333;
  --gray-darkest: #171616;
  --black: #000;

  /* Attributions */
  --primary-color: var(--green);
  --primary-color-hover: var(--green2);

  --secondary-color: var(--yellow);
  --secondary-color-hover: var(--yellow2);

  --link-color: var(--secondary-color);
  --link-color-hover: var(--secondary-color-hover);

  --border-color: var(--gray);

  /*
      TEXT
  */
  --noto-font: 'Noto Sans', arial, helvetica, sans-serif;
  --line-height: 1.5;
  --line-height-sm: 1.1;


  /*
      MAIN
  */
  --main-font: var(--noto-font);
  --main-text-color: var(--white);
  --main-bg: var(--gray-darkest);

  --main-font-size: 1rem;
  --main-line-height: var(--line-height);

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /*
      SPACING
  */
  --spacer: 1rem;

  --space-xs: calc(var(--spacer) * 0.7);
  --space-sm: calc(var(--spacer) * 1);
  --space-md: calc(var(--spacer) * 1.3);
  --space-lg: calc(var(--spacer) * 1.8);
  --space-xl: calc(var(--spacer) * 2.5);

  /*
      CONTAINER
  */
  --container-padding-x: 2rem;
  --container-padding-y: 2rem;
  --container-padding-sm-x: 1rem;
  --container-padding-sm-y: 1.5rem;

  /*
      HEADER
  */
  --header-bg: var(--primary-color);
  --header-color: var(--white);

  /*
     FOOTER
  */
  --footer-bg: var(--primary-color);
  --footer-color: var(--white);
}

/*
  INIT
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  background-color: var(--main-bg);
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/*
 Don't know how to do it with styled components :
 Don't double spacing for 2 sibling sections (add exceptions if background may be different)
*/
.section + .section > .container {
  padding-top: 0;
}
